.cart-btn {
  position: relative;
}

#item-count {
  position: absolute;
  color: white;
  font-weight: 600;
  background-color: #dc2626;
  padding: 4px;
  border-radius: 35%;
  right: 0;
  top: 1.25rem;
}