.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  overflow: hidden;
  min-height: 100vh;

  .video-container {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    filter: brightness(45%);
  }

  video {
    max-width: 100vw;
    overflow: hidden;
    margin-top: -4px;
  }

  .video-container::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: linear-gradient(to bottom, transparent 0%,#4c1d95 80%);
  }

  p {
    color: white;
    font-size: 6rem;
    font-weight: 800;
    z-index: 2;
    margin: 0;
    margin-bottom: 4rem;
  }

.btn-wrapper {
  z-index: 2;
  display: flex;
  a {
    z-index: 2;
    font-size: 4ch;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: #6366f1;
    margin-bottom: 5vh;
    transition: 200ms ease-out;
  }
}

a:hover {
    transform: translateY(-0.5rem);
    color: #6366f1;
    background-color: white;
  }

}