*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #e5e7eb;
}

.icon {
  filter:  brightness(0) invert(1);
  height: 2rem;
  width: auto;
}